
-# ----- Membuat DOCTYPE pada HAML ----- 

!!!

-# Output:
<!DOCTYPE html>



-# ----- Single line tag ----- 
   Jika single tag tanpa identitas id atau class, dimulai dengan % 

%head
   %title Belajar HAML 

-# Jika mempunyai child, berikan 3 space/spasi, bisa diartikan sebagai:
    <head>
        <title> Belajar HAML </title>
    </head>



-# ----- id/class tag ----- 

/ Class
.container
   %p Element class

/Id
#container
   %p Element id

/Combine id with class
.page#home
   %p Element class dengan id

/Multiple
.container.main.dark-page#root
   %p Multiple id, class

-# Output:
   <div class='container'>
   <p>Hello world</p>
   </div>
   
   <div id='container'>
   <p>Hello world</p>
   </div>

   <div class='page' id='home'>
   <p>Element class dengan id</p>
   </div>

   <div class='container main dark-page' id='root'>
   <p>Multiple id, class</p>
   </div>



-# ----- Attributes ----- 

-# Atribut didalam haml harus diwrap dengan bracket {} 
   Dan didalamnya berisi atribut dan value, 
   Untuk inital value dimulai dengan => sama dengan artinya seoerti =
   
   Penggunaanya sendiri terdapat beberapa cara

-# Bisa menggunakan :href
%a{ :href => "gitlab.com/alfinsuryaS" } Link

-# Bisa menggunakan "href"
%a{ "href" => "gitlab.com/alfinsuryaS" } Link

-# Multiple attributes
%img{ :width => "500", :src => "/your_assets" }

-# Inital id dan class
%main{ :class => "body-page dark", :id => "main" }
   %h1 Hello World

-# Bisa juga dengan cara ini
%img{ src: '/your_assets', alt: 'Image Alt' }

-# Output:
   <a href='gitlab.com/alfinsuryaS'>Link</a>
   <a href='gitlab.com/alfinsuryaS'>Link</a>
   <img src='/your_assets' width='500'>
   
   <main class='body-page dark' id='main'>
     <h1>Hello World</h1>
   </main>

