
-# ----- Membuat DOCTYPE pada HAML ----- 

!!!

/ HTML VERSION:
<!DOCTYPE html>



-# ----- Single line tag ----- 
   Jika single tag tanpa identitas id atau class, dimulai dengan % 

%head
   %title Belajar HAML 

-# Jika tag didalam child, berikan 3 space/spasi, bisa diartikan sebagai:
    <head>
        <title> Belajar HAML </title>
    </head>



-# ----- Single line tag ----- 
