

-#  HAML (HTML Abstraction Markup Language)
    Hello, thankyou for visit In this repo, I tell you how easy learn HAML .
    I hope you understand my code, and don't forget to give a star and share! 

    (Remember format is HAML)

    Installing Haml
    - sudo gem install haml

    For compile type your terminal
    haml filename.haml

